@layer page {
  #stores {
    /* Taken from .row in components.css */
    @media (max-width: 600px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    > div {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto 1fr auto;
      gap: var(--spacing);

      background-color: var(--accent-colour);
      padding: var(--spacing);
      border-radius: var(--corner-radius);

      > img {
        width: auto;
        max-height: 50vh;
        max-width: 100%;
        justify-self: center;
        grid-row: 1;
      }

      > .box {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: subgrid;
        grid-row: 2 / span 3;

        background-color: white;
        padding: var(--spacing);
        padding-top: calc(var(--spacing) * 0.5);
        border-radius: var(--corner-radius);
        height: 100%;

        > span[role="heading"] {
          grid-row: 1;
        }

        > div {
          grid-row: 2;
        }

        > a:last-child {
          text-align: center;
          background-color: var(--button-colour);
          color: white;
          padding: 0.75rem 15%;
          display: block;
          border-radius: calc(var(--corner-radius) * 2);
          margin: calc(var(--spacing) * -0.33) auto;
          grid-row: 3;
          font-weight: 700;
          font-size: 1.33em;
          line-height: 1;
        }
      }
    }
  }
}

#images {
  background-color: var(--accent-colour);
  padding: var(--spacing);
  border-radius: var(--corner-radius);
  margin: var(--spacing) auto;
}

#switcher {
  border: none;
  background-color: var(--button-colour);
  border-radius: calc(var(--corner-radius) * 4);
  color: white;
  padding: 1rem 0.5rem;
  font-weight: 700;

  position: fixed;
  top: 5em;
  left: 2em;
}
