.row {
  display: grid;
  grid-auto-columns: 1fr;
  gap: var(--spacing);
  margin: var(--spacing) 0;
  align-items: stretch;

  @media (max-width: 480px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  > * {
    grid-row: 1 / span 1;
  }
}

.img-overlay {
  position: relative;
  color: white;
  background-color: var(--img-overlay-colour);
  border-radius: var(--corner-radius);

  > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: var(--img-overlay-opacity);
  }

  > div {
    position: absolute;
    inset: auto 16px 12px;
  }
}

span[role="heading"] {
  display: block;
  font-size: 2em;
  text-align: center;

  &:not([aria-level]) {
    text-decoration: line-through;

    &::after {
      content: 'No "aria-level" set!';
      display: inline;
      padding: 0.1em 0.3em;
      margin: 0.3em;
      color: red;
      background-color: #ffafaf;
      border: 1px solid red;
      border-radius: var(--corner-radius);
    }
  }

  &[aria-level] {
    font-weight: 700;
  }
}
