@layer defaults, components, site, utilities, page;
@import url("defaults.css") layer(defaults);
@import url("components.css") layer(components);
@import url("utilities.css") layer(utilities);

:root {
  --accent-colour: hsl(0, 0%, 90%);
  --inactive-nav-link-colour: hsl(0, 0%, 50%);
  --active-nav-link-colour: black;
  --separator-colour: hsl(0, 0%, 65%);
  --img-overlay-colour: hsl(280 100% 5%);
  --img-overlay-opacity: 60%;
  --button-colour: #1a1851;
  --footer-colour: var(--button-colour);
  --footer-text-colour: white;
  --corner-radius: 6px;
  --spacing: 1rem;
  --top-links-max-gap: 3vw;
  --top-links-min-gap: var(--spacing);
  --main-content-side-spacing: calc(var(--spacing) * 2);
  --content-max-width: min(100%, 1150px);

  @media (min-width: 1850px) {
    --content-max-width: min(100%, 1448px);
  }

  --primary: ;
  --secondary: ;
  --accent: ;
  --light: ;
  --dark: ;
  --ui: ;
}

@layer site {
  body {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  nav > ul {
    padding: 0;
    margin: 0;
    list-style: none;

    > li > a {
      color: var(--inactive-nav-link-colour);

      &.current,
      &:hover {
        color: var(--active-nav-link-colour);
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 2px;
      }

      &.current:hover {
        text-decoration-thickness: 2px;
      }
    }
  }

  body > header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: var(--spacing) 0;
    border-bottom: 1px solid var(--accent-colour);
    margin-bottom: var(--spacing);

    > img {
      width: min(13rem, 45vw);
      margin: 1.5rem;
    }

    > nav > ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: max(var(--top-links-min-gap), var(--top-links-max-gap));
      font-weight: 600;
      font-size: 1.2em;
    }
  }

  body > main {
    padding: 0 var(--main-content-side-spacing);
    width: 100%;
    height: 100%;
  }

  body > footer {
    background-color: var(--footer-colour);
    color: var(--footer-text-colour);
    font-weight: 500;
    padding: 3rem 1.5rem;
    margin-top: var(--spacing);

    --inactive-nav-link-colour: var(--footer-text-colour);
    --active-nav-link-colour: var(--footer-text-colour);

    > nav > ul > li > a {
      font-weight: 700;
    }

    display: grid;
    grid-template-columns: auto minmax(auto, 75%);
    gap: var(--spacing);

    > details {
      align-self: center;

      > summary {
        text-align: right;
        cursor: pointer;
      }

      &[open] {
        #cont {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          background-color: rebeccapurple;
          padding: 1rem 1rem;
          border-radius: var(--corner-radius);

          > * {
            margin: 0;
          }
        }
      }
    }

    > nav > ul {
      list-style-type: none;
    }
  }
}
